<h1>Hello world!</h1>

<%= for prop <- @props do %>
  <div>
    <div class="">
      <%= prop.user.first_name %>
      <%= prop.user.last_name %>
    </div>
    <div class="">
      <%= prop.propser.first_name %>
      <%= prop.propser.last_name %>
    </div>
    <div class="">
      <%= prop.body %>
    </div>
<% end %>
