%h1 New User

- form_for @changeset, props_path(@conn, :create), fn f ->
  - if @changeset.action do
    .alert.alert-danger
      %p
        Oops, something went wrong! Please check the errors below.
  %label
    To who you you want to give prop?
    = select f, :user_id, @users_list
  %label
    Body text
    = textarea f, :body

  .form-group
    = submit "Submit", class: "btn btn-primary"
